*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:'Trebuchet MS',sans-serif;

    background:linear-gradient(
        180deg,
        #dff5ff 0%,
        #edfaff 45%,
        #ffffff 100%
    );

    position:relative;
}


/* CARD */

h1{

    color:#5ab7ff;

    margin:15px 0;
}

p{

    color:#5f6d7a;

    line-height:1.6;

    margin-bottom:20px;
}

.birthday-message{
    margin-top:25px;
    padding:18px;
    border-radius:18px;
    background:rgba(255,255,255,.75);
    border:2px solid #d6efff;
    color:#5ca8e6;
    font-size:20px;
    font-weight:bold;
    line-height:1.6;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.cinnamoroll-sanrio-dancing{

    width:220px;

    animation:float 3s ease-in-out infinite;
}


/* FLOATING IMAGE */

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0px);
}

}


/* CLOUDS */

.cloud{

    position:absolute;

    background:white;

    border-radius:100px;

    opacity:.75;
}

.cloud::before{

    content:"";

    position:absolute;

    background:white;

    width:70px;

    height:70px;

    border-radius:50%;

    top:-35px;

    left:25px;
}

.cloud::after{

    content:"";

    position:absolute;

    background:white;

    width:55px;

    height:55px;

    border-radius:50%;

    top:-22px;

    right:20px;
}

.cloud1{

    width:170px;
    height:60px;

    top:70px;

    left:-200px;

    animation:moveCloud 40s linear infinite;
}

.cloud2{

    width:220px;
    height:70px;

    top:180px;

    left:-300px;

    animation:moveCloud 55s linear infinite;
}

.cloud3{

    width:150px;
    height:55px;

    top:380px;

    left:-250px;

    animation:moveCloud 35s linear infinite;
}

@keyframes moveCloud{

0%{

transform:translateX(-300px);
}

100%{

transform:translateX(1800px);
}

}


/* SPARKLES */

.sparkle{

    position:absolute;

    width:5px;

    height:5px;

    background:white;

    border-radius:50%;

    box-shadow:

    0 0 10px white,

    0 0 20px white,

    0 0 30px #d5f4ff;

    animation:twinkle 2s infinite;
}

@keyframes twinkle{

0%,100%{

opacity:.2;
transform:scale(.5);
}

50%{

opacity:1;
transform:scale(1.6);
}

}
